:root {
  --bs-yellow: #ffc107;
}

/**/

.breadcrumb_link_active {
  color: #2250fc !important;
}

/**/

.patients__search-form {
  margin-bottom: 20px;
}

.patients__search-input {
  border: none;
  border-bottom: 2px solid #c1c3ce !important;
}

/**/

#footer {
  z-index: 1 !important;
}

/**/

.modal-backdrop {
  z-index: 0 !important;
  --bs-backdrop-zindex: 0 !important;
}

.modal-dialog {
  margin-top: 120px !important;
  -webkit-box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.4);
}

.modal__btn-close {
  float: right;
  margin: -2.75rem -.75rem -.75rem auto !important;
  color: black;
  font-size: 22px;
}

.modal__btn-close:hover {
  color: var(--bs-yellow);
  font-weight: bold;
}
